extends layout

block content
  .m-container.container
    h2 #{action.includes('add') ? 'Add New Address' : 'Update Address'}
    if error
      .alert.alert-danger.mt-3= error
    form(action=action method='POST')
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-group
        label(for="address_type") Address Type
        input#address_type.form-control(type="text" name="address_type" value=address.address_type placeholder="e.g., Home, Work" required)
      .form-group
        label(for="address_line1") Address Line 1
        input#address_line1.form-control(type="text" name="address_line1" value=address.address_line1 placeholder="Street address" required)
      .form-group
        label(for="address_line2") Address Line 2
        input#address_line2.form-control(type="text" name="address_line2" value=address.address_line2 placeholder="Apartment, suite, etc. (optional)")
      .form-group
        label(for="city") City
        input#city.form-control(type="text" name="city" value=address.city required)
      .form-group
        label(for="state") State
        input#state.form-control(type="text" name="state" value=address.state required)
      .form-group
        label(for="country") Country
        input#country.form-control(type="text" name="country" value=address.country required)
      .form-group
        label(for="postal_code") Postal Code
        input#postal_code.form-control(type="text" name="postal_code" value=address.postal_code required)
      button.btn.btn-primary(type="submit") #{action.includes('add') ? 'Add Address' : 'Update Address'}
      a.btn.btn-secondary.ml-2(href="/profile") Cancel