extends layout

block content
  .collection-container
    h1 Our Kids' Collection
    p Discover the latest trends in kids' fashion
    section.kids-dresses
      h2 Featured Kids' Dresses
      .dress-container.mt-2
        .row.g-4.justify-content-center
          each item in items
            .col-6.col-md-3.text-center
              a.box(href=`/product/${item.id}`)
                .image-container
                  img.box-image(src=item.image, alt=item.name)
                .dress-info
                  h3.box-heading= item.name
                  p From £#{item.price}