//- Extend from base layout
extends layout

block content
  .product-container
    .row
      //- Left column: product image
      .col-md-6
        .image-container
          img.product-image(src=item.image, alt=item.name)

      //- Right column: product details and actions
      .col-md-6
        h1= item.name
        p= item.description
        p
          strong Price: £#{item.price}

        //- Show forms if user is logged in
        if loggedIn
          //- Add to cart form
          form(action="/cart/add/" + item.id method="POST" style="display: inline-block; margin-right: 10px;")
            input(type="hidden" name="_csrf" value=csrfToken)
            button.product-button.btn.btn-primary(type="submit") Add to Cart

          //- Add to wishlist form
          form(action="/wishlist/add/" + item.id method="POST" style="display: inline-block;")
            input(type="hidden" name="_csrf" value=csrfToken)
            button.product-button.btn.btn-success(type="submit") Add to Wishlist

        //- If not logged in, prompt to log in
        else
          a.product-button.btn.btn-primary(href="/login") Login to Add to Cart
